* {
  border-color: var(--border);
  outline-color: var(--ring);
  outline-opacity: 0.5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
  h1 {
    font-size: 1.75rem; /* 2xl */
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: 1.5rem; /* xl */
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: 1.25rem; /* lg */
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: 1rem; /* base */
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  p {
    font-size: 1rem; /* base */
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }

  label {
    font-size: 1rem; /* base */
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: 1rem; /* base */
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: 1rem; /* base */
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
